body{
  background: #f2ebe0!important;
  font-family: 'Work Sans', sans-serif; 
  color: #363639!important;
  margin-bottom: 3rem!important;
}



.carousel-item.active{
  max-height: 500px!important;
}
.main-banner-text{
  background: rgba(235,240,246,0.85);
  color: #363639;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing:0.1em;
  padding: 30px 25px;

}
.carousel-caption{
  top:40%;
}

.place-menu{
  background: #fff;
  padding: 1rem;
}

.place-menu-list{
  margin: 1.5rem 0 0 0;
}

.navbar-brand{
  max-width: 80%!important;
}
.navbar-brand > img{
  width: 100%!important;
}
#bg-nav{
  background: #fff;
  border-bottom: 1px solid #dee2e6;
}
/*LOGI PAGE */
.login{
  margin-top: 10%!important;
}
