{% extends "header.html" %}
{% block content %}
{% load static %}
<section>
  <div class="main-banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="img-fluid" src="{%static 'locals/img/baner.png' %}" alt="First slide">
          <div class="carousel-caption d-md-block align-items-center justify-content-center">
            <div class="main-banner-text">ZNAJDŹ SWÓJ LOKAL - TO PROSTSZE NIŻ MYŚLISZ</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <br>
    <h1 class="text-center">LOKALE</h1>
    <hr>
    <amp-auto-ads type="adsense" data-ad-client="ca-pub-3358795705981121">
    </amp-auto-ads>
    <div class="card-columns text-center">
      {% for place in places  %}
      <div class="card">
        {% if place.news %}
        <i class="fas fa-info-circle" alt="Nowa wiadomość lokalu" title="Nowa wiadomość lokalu"></i>
        {% endif %}
        {% if place.img %}
        <img class="card-img-top" src="{{ place.img.url}}" alt="Card image cap">
        {% else %}
        <img class="card-img-top" src="{%static 'locals/img/brak.png'%}" alt="Card image cap">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{place.name}}</h5>
          <a href="/lokale/{{ place.slug }}/{{place.id}}" class="btn btn-primary center-block">Sprawdź</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endblock%}
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</body>

</html>