{% extends "header.html" %}
{% block content %}
{% load static %}
<section>
  <div class="container place-menu">
    <div class="row">
      <div class="col-md-8">
        {% if place.img %}
        <img src="{{ place.img.url}}" width="100%" class="mr-3" alt="Zdjęcie lokalu">
        {% else %}
        <img src="{%static 'locals/img/brak.png'%}" width="100%" class="mr-3" alt="Brak zdjęcia lokalu">
        {% endif %}
        &nbsp
        <h5>Opis</h5>
        {% if place.description %}
        <p>{{place.description}}</p>
        {% else %}
        <p>Brak opisu</p>
        {% endif %}
      </div>
      <div class="col-md-4">
        <div class="media-body text-center">
          &nbsp
          <h1 class="mt-0 text-center"><i class="fas fa-utensils"></i> {{place.name}}</h1>
          <hr>
          <h3><i class="far fa-hourglass"></i> Godziny Otwarcia:</h3>
            <p>{{place.hours | linebreaksbr}}</p>
          <h5><i class="fas fa-mobile-alt"></i> Numer Telefonu: {{place.number_phone}}</h5>
          <hr>
          <h5><i class="fas fa-map-marker-alt"></i> Adres: {{place.address}}</h5>
          {% if place.news == '' %}
          {% else %}
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Informacje</h4>
            <hr>
            <p>{{place.news}}</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="place-menu-lists">
      &nbsp
      <h4>Menu</h4>
      <hr style="background:#c93939;">
      <ul class="list-group">
        {% for m in menu %}
        <li class="list-group-item list-group-item-action">
          <span class="dish_title">{{m.dish}} <small style="color:black">{{m.dish_category}}</small></span>
          <p>{{m.dish_components}}</p>
          {% if m.pizza_price == "" %}
          <span><b>{{m.price}} zł</b></span>
          {% else %}
          <span><b>{{m.pizza_price}}</b></span>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    &nbsp
    <p>
      <a class="btn btn-info btn-lg btn-block " data-toggle="collapse" href="#collapseExample" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        MAPA
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <iframe src="{{place.maps}}" width="100%" height="500"></iframe>
      </div>
    </div>
  </div>
  {% endblock %}
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
</body>

</html>
