   {% load static %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div class="container bg-white text-center">
  <div style="margin-top:10%;">
  <h1>BŁĄD 500</h1>
  <img src="{%static 'locals/img/logo.png'%}" alt="logo"> 
  <h1>Przepraszamy nie znaleziono wybranej strony, wewnętrzny błąd serwera</h1>
  <hr>
    <p>Prosimy o powrót na stronę główną</p>
    <a href="/"><h3>POWRÓT NA GŁÓWNĄ</h3></a>
    </div>
