{% extends "header.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="container bg-white">
  {% load crispy_forms_tags%}
  &nbsp
  <h2 class="text-center">Dodaj lokal</h2>
  <hr>
  <form method="POST" class="post-form">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="save btn btn-primary">Save</button>
  </form>
</div>
{% else %}
<div class="container">
  <div class="col-md-12 bg-white text-center">
    <div class="top-box"><h1>Aby dodać lokal zaloguj się za pomoca social mediów</h1></div>
  </div>
</div>
{% endif %}

{% endblock %}

</body>