{% extends "header.html" %}
{% load static %}
{% block content %}
  <div class="container">
  {% load crispy_forms_tags%}

    <h2>New</h2>
    <form method="POST" class="post-form">
    {% csrf_token %}
      {{forms|crispy}}
        
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="{%static 'dynamic_formsets/jquery.formset.js'%}" type="text/javascript"></script>
    <script type="text/javascript">
      
        $('#individual').formset();
    </script>
{% endblock %}
</div>
</body>