{% extends "header.html" %}
{% load static %}
{% block content %}
  <div class="container bg-white">
  {% load crispy_forms_tags%}
 &nbsp
    <h2 class="text-center">Dodaj/Aktualizuj lokal</h2>
    <hr>
    <form method="POST">
    {% csrf_token %}
      {{form|crispy}}
        <ul>
        <li id="individual">{{formset|crispy}}<hr></li>
        </ul>
        <button type="submit" class="save btn btn-primary">Save</button>
    </form>
    
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"></script>
      <script src="{%static 'locals/dynamic_formsets/jquery.formset.js'%}" type="text/javascript"></script>
      <script type="text/javascript">
        $('#individual').formset(
          {prefix: '{{formset.prefix}}'}
        );
    </script>
  {% endblock %}
</body>